[submodule "_external/USD"]
	path = _external/USD
	url = https://github.com/PixarAnimationStudios/USD.git
[submodule "_external/imgui"]
	path = _external/imgui
	url = https://github.com/ocornut/imgui.git
